/* Main Styles */

main{
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
}
header{
    margin: 0;
}
footer{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideBardiv {
    padding: 0;
}
.maindiv{
    position: relative;
    padding: 0;
    overflow-y: scroll;
    height: 100vh;
    width: 83.33vw;
}
.navSection{
    z-index: 1;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 82.2vw
}

/* Elements CSS Styles */

/* Basic Button CSS Styles */
.basicButton{
    background-color: #f7f7f7;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}

/* Colored Button CSS Styles */
.coloredButton{
    background-color: #1C6DCE;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    color: white;
}
.coloredButton:hover{
    background-color: #2186C3;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    color: white;
}
.coloredButton:active{
    background-color: #2186C3;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    color: white;
}


/* Outline Button CSS Styles */
.outlineButton{
    background-color: transparent;
    border: 1px solid #050505;
    border-radius: 5px;
}
.outlineButton:hover{
    background-color: rgba(255, 255, 255, 0.363);
    border: 1px solid #050505;
    border-radius: 5px;
}
.outlineButton:active{
    background-color: rgba(255, 255, 255, 0.363);;
    border: 1px solid #050505;
    border-radius: 5px;
}

/* Outline Button CSS Styles */
.textButton{
    text-decoration: none;
    padding: 0 !important;
    color: black;
}
.textButton:hover{
    border: none;
    color: black;
}
.textButton:not(:hover){
    border: none;
    color: black;
}

/* Icon Button CSS Styles */
.iconButton{
    background-color: #f7f7f7;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}
.iconButton:hover{
    background-color: #fff;
    border: 1px solid #c4c4c4;
}
.iconButton:not(:hover){
    border: 1px solid #c4c4c4;
}
.iconButtonLeft{
    border-right: none;
    padding-right: 0;
}
.iconButtonLeft:hover{
    border: none;
}
.iconButtonLeft:not(:hover){
    border: none;
}
.iconButtonRight{
    border-left: none;
    padding-left: 0;
}
.iconButtonRight:hover{
    border: none;
}
.iconButtonRight:not(:hover){
    border: none;
}
/* Rounded Button CSS Styles */
.isRounded{
    border-radius: 20px !important;
    padding-left: 20px;
    padding-right: 20px;
}
/* Rounded Button CSS Styles */
.isRoundedInput{
    border-radius: 20px !important;
}
.isRoundedInput .iconButtonRight{
    padding-right: 20px;
}
.isRoundedInput .loadingButtonLeft{
    border-radius: 20px !important;
    padding-left: 20px;
}
.isRoundedInput .loadingButtonRight{
    padding-right: 20px;
}
.isRoundedInput .iconButtonLeft{
    border-radius: 20px !important;
    padding-left: 20px;
}
/* Loading Button CSS Styles */
.loadingButton{
    background-color: #f7f7f7;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}
.loadingButton:hover{
    background-color: #fff;
    border: 1px solid #c4c4c4;
}
.loadingButton:not(:hover){
    border: 1px solid #c4c4c4;
}
.loadingButtonLeft{
    border-right: none;
    padding-right: 0;
}
.loadingButtonLeft:hover{
    border: none;
}
.loadingButtonLeft:not(:hover){
    border: none;
}
.loadingButtonRight{
    border-left: none;
    padding-left: 0;
}
.loadingButtonRight:hover{
    border: none;
}
.loadingButtonRight:not(:hover){
    border: none;
}
.loadingButton .buttonSpinner{
    width: 1rem;
    height: 1rem;
}
.disabledButton{
    background-color: #fff;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: .5;
}
.disabledButton:hover{
    background-color: #fff;
    border-color: #dbdbdb;
    box-shadow: none;
    opacity: .5;
}
.icon-input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
}
.icon-input{
    border: none;
    box-shadow: none;
    padding: 0 0.75rem;
}
.icon-input-left{
    color: #ced4da;
}
.icon-input-right{
    color: #ced4da;
}

.fileButton{
    background-color: #f7f7f7;
    border: 1px solid #c4c4c4 !important;
    border-radius: 5px !important;
}
.fileButton:hover{
    background-color: #fff;
    border: 1px solid #c4c4c4;
}
.fileButton:not(:hover){
    border: 1px solid #c4c4c4;
}
.left-breadcrumb{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.center-breadcrumb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-breadcrumb{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.breadcrumb a{
    text-decoration: none;
}
.breadcrumbv2 .breadcrumb-item:first-child {
    padding-bottom: 4px;
  }
.breadcrumbv2 .breadcrumb-item+.breadcrumb-item::before {
    padding-top: 3px;
    padding-bottom: 0px;
    content: url(./Assests/img/arrow-right.svg)
}
.breadcrumbv3 .breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, "<");
}
.breadcrumbv4 .breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, "|");
}
