<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> UI Library</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
  </head>
  <body>
    <main class="row">
        <div class="sideBardiv col-2">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 100%;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                  <span class="fs-4">Sidebar</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="../index.html" class="nav-link active" aria-current="page">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                          Dashboard
                        </a>
                      </li>
                      <li>
                        <a href="../Example.html" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                          Example
                        </a>
                      </li>
                      <li>
                        <a href="../Components.html" class="nav-link text-white">
                          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                          Components
                        </a>
                      </li>
                  <li>
                    <a href="../Elements.html" class="nav-link text-white">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                      Elements
                    </a>
                  </li>
                  <li>
                    <a href="../Layout.html" class="nav-link text-white">
                      <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                      Layout
                    </a>
                  </li>
                </ul>
                <hr>
                <div class="dropdown">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
              </div>
        </div>
        <div class="maindiv col-10">
            <div class="navSection">
                    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-4 border-bottom">
                      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                        <h4 style="padding-left: 20px;"> UI Library</h4>
                      </a>
                
                      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
                        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
                        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
                        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                      </ul>
                
                      <div class="col-md-3 text-end">
                        <button type="button" class="btn btn-outline-primary me-2">Login</button>
                        <button type="button" class="btn btn-primary">Sign-up</button>
                      </div>
                    </header>
            </div>
            <section class="py-5 px-5 text-left container mt-5 bg-light">
                <div class="row pt-lg-5">
                    <div class="col-lg-12 col-md-8 mx-auto">
                    <h1 class="fw-light">Button</h1>
                    <p class="lead text-muted">
                        The classic button, in different colors, sizes, and states
                    </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Basic Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn basicButton" type="submit">Button</button>
                        <p class="text-muted">
                            Basic Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn basicButton" href="#" role="button">Link</a>
                        <p class="text-muted">
                            Basic anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn basicButton" type="button" value="Input">
                        <p class="text-muted">
                            Basic Input Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn basicButton" type="submit" value="Submit">
                        <p class="text-muted">
                            Basic Input Submit Button
                        </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Disabled Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn disabledButton" type="submit">Button</button>
                        <p class="text-muted">
                            Disabled Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn disabledButton" href="#" role="button">Link</a>
                        <p class="text-muted">
                            Disabled anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn disabledButton" type="button" value="Input">
                        <p class="text-muted">
                            Disabled Input Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn disabledButton" type="submit" value="Submit">
                        <p class="text-muted">
                            Disabled Input Submit Button
                        </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container bg-light">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Colored Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn coloredButton" type="submit">Button</button>
                        <p class="text-muted">
                            Colored Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn coloredButton" href="#" role="button">Link</a>
                        <p class="text-muted">
                            Colored anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn coloredButton" type="button" value="Input">
                        <p class="text-muted">
                            Colored Input Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn coloredButton" type="submit" value="Submit">
                        <p class="text-muted">
                            Colored Input Submit Button
                        </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Outline Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn outlineButton" type="submit">Button</button>
                        <p class="text-muted">
                            Outline Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn outlineButton" href="#" role="button">Link</a>
                        <p class="text-muted">
                            Outline anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn outlineButton" type="button" value="Input">
                        <p class="text-muted">
                            Outline Input Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn outlineButton" type="submit" value="Submit">
                        <p class="text-muted">
                            Outline Input Submit Button
                        </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container bg-light">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Text Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn textButton" type="submit">Button</button>
                        <p class="text-muted">
                            Text Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-link textButton" href="#" role="button">Link</a>
                        <p class="text-muted">
                            Text anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn btn-link textButton" type="button" value="Input">
                        <p class="text-muted">
                            Text Input Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn btn-link textButton" type="submit" value="Submit">
                        <p class="text-muted">
                            Text Input Submit Button
                        </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Icon Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn iconButton" type="submit"><i class="bi bi-arrow-right-circle-fill"></i> Button</button>
                        <p class="text-muted">
                            Icon Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn iconButton" href="#" role="button"><i class="bi bi-arrow-right-circle-fill"></i> Link</a>
                        <p class="text-muted">
                            Icon anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="btn-group iconButton" role="group" aria-label="Basic example">
                            <label for="Input" class="btn iconButtonLeft"><i class="bi bi-arrow-right-circle-fill"></i></label>
                        <input class="btn iconButtonRight" type="button" value=" Input" id="Input" >
                        </div>
                        <p class="text-muted">
                            Icon Input Button
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="btn-group iconButton" role="group" aria-label="Basic example">
                            <label for="submit" class="btn iconButtonLeft"><i class="bi bi-arrow-right-circle-fill"></i></label>
                            <input class="btn iconButtonRight" type="submit" value=" Submit" id="submit" >
                        </div>
                        <p class="text-muted">
                            Icon Input Submit Button
                        </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container bg-light">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Loading Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn loadingButton" type="submit">
                        <div class="spinner-border buttonSpinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div> Button</button>
                        <p class="text-muted">
                            Loading Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn loadingButton" href="#" role="button"><div class="spinner-border buttonSpinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div> Link</a>
                        <p class="text-muted">
                            Loading anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                    <div class="btn-group loadingButton" role="group" aria-label="Basic example">
                        <label for="Input" class="btn loadingButtonLeft"><div class="spinner-border buttonSpinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div></label>
                        <input class="btn loadingButtonRight" type="button" value=" Input" id="Input" >
                    </div>
                        <p class="text-muted">
                            Loading Input Button
                        </p>
                    </div>
                    <div class="col-3">
                    <div class="btn-group loadingButton" role="group" aria-label="Basic example">
                        <label for="submit" class="btn loadingButtonLeft"><div class="spinner-border buttonSpinner" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div></label>
                        <input class="btn loadingButtonRight" type="submit" value=" Submit" id="submit" >
                        </div>
                        <p class="text-muted">
                            Loading Input Submit Button
                        </p>
                    </div>
                </div>
            </section>
            <section class="py-5 mb-5 px-5 text-left container">
                <div class="row">
                    <div class="col-lg-12 col-md-8 mx-auto">
                        <h1 class="fw-light">Rounded Button</h1>
                        <p class="lead text-muted">
                            The classic button, without hover state and active state.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn basicButton isRounded" type="submit">Button</button>
                        <p class="text-muted">
                            Basic Rounded Html Button
                        </p>
                    </div>
                    <div class="col-3">
                        <a class="btn coloredButton isRounded" href="#" role="button">Link</a>
                        <p class="text-muted">
                            Colored Rounded anchor Button
                        </p>
                    </div>
                    <div class="col-3">
                        <input class="btn outlineButton isRounded" type="button" value="Input">
                        <p class="text-muted">
                            Outline Rounded Input Button
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="btn-group iconButton isRoundedInput" role="group" aria-label="Basic example">
                            <label for="submit" class="btn iconButtonLeft"><i class="bi bi-arrow-right-circle-fill"></i></label>
                            <input class="btn iconButtonRight" type="submit" value=" Submit" id="submit" >
                        </div>
                            <p class="text-muted">
                                Icon Rounded Input Submit Button
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>